.about-hero-section {
    min-height: 60vh;
    height: fit-content;
    background-image: url("../assets/images/aboutBG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: 1;

    .about-hero-layer {
        background-color: rgba(225, 225, 225, 0.9);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 3;
    }

    .about-content-container {
        position: relative;
        z-index: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 60vh;

        h1 {
            font-size: clamp(2rem, 4vw, 3rem);
            font-weight: 700;
            color: #026488;
            font-family: "Lora", serif;
            margin-bottom: 0;
            margin-top: 20px;
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fade {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes slideInLeft {
            0% {
                opacity: 0;
                transform: translatex(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .about-hero-title {
            flex: 1 1 auto;
            padding: 20px;
            max-width: 600px;

            p {
                font-size: clamp(1rem, 2vw, 1.4rem);
                font-weight: 600;
                color: #026488;
                font-family: "Lora", serif;
                text-align: justify;
                animation: slideInLeft 1s ease-in-out;
            }
        }

        .about-hero-image {
            flex: 1 1 auto;
            max-width: 450px;
            padding: 20px;
            margin-bottom: 20px;
            img {
                object-fit: cover;
                height: clamp(300px, 20vw, 450px);
                width: 100%;
                border-radius: 20px;
                filter: brightness(0.9) contrast(0.9);
                animation: fade 1s ease-in-out;
            }
        }

        @media (max-width: 1200px) {
            .about-hero-image {
                padding: 0;
            }
        }
    }
}

.about-mission-vision {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #014a65;
    text-align: center;

    h2 {
        font-size: clamp(2.8rem, 2vw, 4rem);
        color: azure;
        font-family: "Lora", serif;
        font-weight: 700;
    }

    .about-mission-container {
        width: 100%;    
        p {
            color: #cdf1fe;
            font-family: "Lora", serif;
            max-width: 60%;
            line-height: 1.8;
        }
        .about-content {
            max-width: 60%;
            text-align: center;
            padding: 20px;
            padding-bottom: 50px;
        }
    }

    @media (max-width: 900px) {
        .about-mission-container {
            width: 100%;    
            p {
                max-width: 100%;
            }
            .about-content {
                max-width: 100%;
            }
        }
    }

    .mission-vision {
       background-image: url("../assets/images/team_mission.jpg");
       background-size: cover;
       height: fit-content;
       box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); /* 3D shadow effect */
       transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
       background-attachment: fixed;
    
       .mission-vission-overlay {
            background-color: #023346e3;
            height: fit-content;
            width: 100%;
            display: flex;
            padding-top: 4%;

            p {
                font-weight: 600;
                font-size: clamp(1rem, 1.4vw, 2rem);
                color: #cdf1fe;
            }
       }
    }
}

@media (max-width: 768px) {
    .mission-vision {
        padding: 0;
    }

    .about-mission-vision .mission-vision {
        height: fit-content;
    }   

    p {
        text-align: justify;
    }
}
