// @use '~bootstrap/scss/bootstrap';

// #root {
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
//   display: block; 
//   width: 100%; 
// }

* {
  margin: 0;
  padding: 0;
  height: auto; 
  min-height: 100%;
  width: 100%;
}